#guideEditScreen {
    background-color: red;
}
#guideListScreen {
    background-color: green;
}
#guideInProgressScreen {
    background-color: blue;
}
#inProgressScreen {
    background-color: yellow;
}